telebot
PyDrive
pydub
SpeechRecognition
torchaudio
gTTS
openai-whisper
sacremosestete
ollama
langdetect
librosa
torch
sentencepiece
postgres
apache-airflow
sacremoses
huggingface_hub
azure-servicebus
psycopg2-binary
pytest-shutil
transformers